.users-container {
  padding: 2rem 10rem;
  table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    th {
      text-align: left;
      padding: 2rem;
    }
    td {
      padding: 2rem;
    }
    tr {
      border-bottom: 1px solid rgb(172, 172, 172);
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 1rem 5rem;
  }
}
